@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inter:wght@900&display=swap);
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(blob-scene-haikei.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Navigation Bar */

.topnav {
  overflow: hidden;
  background-color: rgb(223, 220, 220);
}
.topnav div.socials img {
  height: 20px;
  position: absolute;
  left: 80px;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  margin-right:  -10px;
}
.topnav span img {
  height: 40px;
  margin-left: 25px;
  position: absolute;
  top: 5px;
}
.topnav a.split {
  float: right;
  background-color:black;
  color: #FFDB58;
  font-weight: bold;
}
.topnav a:hover {
  color: black;
  text-decoration: line-through;
  text-decoration-color: #FFDB58;
}
.topnav a.split:hover {
  color: black;
  background-color: #FFDB58;
  text-decoration-color: black;
  text-decoration: line-through;
}
.topnav .active {
  background-color:#FFDB58;
  color: black;
}
.topnav .active:hover {
  text-decoration: line-through;
  text-decoration-color: #FFDB58;
  color:#FFDB58;
  background-color: black;
}
.fb-logo {
  margin-left: 1160px;
}
.ig-logo {
  margin-left: 1190px;
}
.twitter-logo {
  margin-left: 1220px;
}
.linkedin-logo {
  margin-left: 1250px;
}

/* Hero Section */

#hero {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}
#hero div {
  width: 800px;
  margin-right: 100px;
  padding: 50px;
  font-size: 22px;
}
#hero div h1 {
  color: black;
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
}
#hero div h3 {
  color: #FFDB58;
  font-size: 30px;
}
#hero p {
  padding-bottom: 40px;
  padding-top: 30px;
  font-size: 25px;
  color: rgb(100, 99, 99);
}
#hero img{
  height: 300px;
  border-radius: 50%;
  padding: 0;
  margin-top: 100px;
  margin-left: -280px;
  box-shadow: 0 -4px 4px black;
}
#hero div button {
  padding: 10px;
  border-radius: 0;
  background-color: black;
  color: #FFDB58;
  width: 150px;
  height: 50px;
  font-weight: bolder;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
#hero div button:hover {
  box-shadow: 5px 5px 5px #FFDB58;
}
#hero div .yellow:hover {
  box-shadow: 5px 5px 5px rgb(61, 60, 60);
}
.download-cv {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 17px;
  font-family: sans-serif;
}
#hero div .yellow {
  background-color: #FFDB58;
  color: black;
  margin-right: 20px;
}

/* Content Buttons (Education, Career, Anecdotes */

.button {
  border-radius: 4px;
  background: linear-gradient(to left, rgb(248, 247, 247), #f8eab9);
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding:20px;
  width: 400px;
  transition: all 1s;
  cursor: pointer;
  margin: 20px;
  margin-top: 70px;
}
button p {
  font-size: 15px;
  margin-right: -50px;
  font-style: italic;
  color: rgb(100, 99, 99);
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
  margin-right: -50px;
  font-weight: bold;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 2s;
}
.button:hover span {
  padding-right: 30px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.education-container, .career-container {
  position: absolute;
  margin-top: -65px;
  margin-left: 30px;
}
.anecdotes-container {
  position: absolute;
  margin-top: -75px;
  margin-left: 60px;
}
.education-container img {
  height: 55px;
  width: 60px;
}
.career-container img {
  height: 55px;
  width: 50px;
}
.anecdotes-container img {
  height: 70px;
  width: 30px;
}
.content-buttons {
  color: black;
  font-family: sans-serif;
}
div.container {
  text-align: center;
  margin-top: 150px;
}

  /* Education Section  */
  
#education {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}
#education div {
  width: 500px;
  margin-left: 60px;
  padding: 0;
  font-size: 22px;
  margin-top: 50px;
}
#education h1 {
  text-align: center;
}
#education img{
  height: 490px;
  padding: 0;
  margin: 0 auto;
  margin-left: -100px;
  margin-top: -90px;
}
.shadowed-heading {
  text-shadow: 2px 2px 4px rgba(9, 7, 7, 0.5);
  color: #FFDB58;
}
.bold-ol {
  font-weight: bold;
  font-style: italic;
}
.bold-ol ul {
  font-weight: normal;
  font-style: normal;
}

/* Career Content */

#career {
  background-image: url(stacked-peaks-haikei.png);
  background-size: cover;
  background-position: center center;
  padding: 25px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
  margin-bottom: 50px;
  border-radius: 50px;
  font-size: larger;
}
#career h1 {
  text-align: center;
  color: #FFDB58;
}
.shadowed-heading2 {
  text-shadow: 2px 2px 4px rgba(9, 7, 7, 0.5);
  color: #FFDB58;
}
.career-content {
  width: 600px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 30px;
}
.career-item ul{
  height:140px;
  padding: 10px;
  width:500px;
  font-weight: normal;
  font-size: 20px;
}
.career-button {
  text-align: center;
}
#career div button {
  display: inline-block;
  padding: 15px;
  border-radius: 7px;
  background-color: black;
  color: #FFDB58;
  cursor: pointer;
}

/* Anecdotes/About Me Section */

#about-me {
  border-radius: 900px;
  height: 500px;
  display: inline-flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 300px;
  margin-left: 70px;
  box-shadow: 6px 6px 6px rgb(147, 145, 145);
  background: linear-gradient(to bottom, rgb(235, 234, 234), transparent);
}
#about-me div {
  width: 800px;
  margin-right: 150px;
  margin-left: 50px;
  padding: -20px;
}
.parent-container {
  font-family: sans-serif;
  color: rgb(100, 99, 99);
  position: relative;
  margin-top: 10px;
  text-align: center;
  font-size: 13.5px;
}
.parent-container h1 {
  font-family: 'Dancing Script';
  position: absolute; 
  top: -120px;
  left: 50px;
  font-size: 60px;
  margin-top: -50px;
  font-weight: bolder;
  color: black;
}
.parent-container img {
  height: 600px;
  width: 450px;
  margin: -500px;
  margin-top: -520px;
  padding: -100px;
  margin-left: 800px;
  display: block;
  position: relative;
  z-index: -1;
  box-shadow: 35px -35px 35px #FFDB58;
  border-radius: 12px;
}

/* Contact Section */

#contact {
  text-align: left;
  margin-right: 50px auto;
  margin-top: 150px;
  padding: 150px;
  display: flex;
  justify-content: center;
  padding-left: 300px;
  display: flex;
}
#contact div.send-message {
  margin-top: 170px;
  margin-right: -10px;
  margin-left: 70px;
  position: relative;
  display: inline-block;
}
#contact div.contact-infos {
  box-shadow: 3px 3px 3px 3px rgb(137, 134, 134);
}
#contact h1 {
  font-size: 30px;
  margin-top: -18px;
  margin-right: -45px;
}
#contact p{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.shadowed-heading3, .shadowed-heading4 {
  text-shadow: 2px 2px 4px rgba(9, 7, 7, 0.5);
  color: #FFDB58;
}
#contact form * {
  display: block;
  margin: 15px auto;
  width: 500px;
}
#contact form p{
  font-size: 14px; 
  text-align: left; 
  margin: 70px; 
  margin-bottom: 20px; 
  margin-top: 20px;
}
.mail-me img {
  height: 50px;
  margin-top: 20px;
}
.mail-me1 {
  margin-top: -55px; 
  margin-left: -85px; 
  color: rgb(158, 156, 156); 
  font-style: italic;
}
.mail-me2 {
  margin-top: -20px; 
  margin-left: 80px; 
}
.mail-me2 a {
  color: black;
  font-size: 25px;
}
#contact form input, #contact form textarea, #contact form placeholder {
  padding: 5px;
  border: 1px solid rgb(147, 145, 145);
  border-radius: 5px;
  font-family: sans-serif;
  background-color: rgb(223, 220, 220);
  font-style: italic;
}
.focus-border:focus {
  outline-color: #FFDB58;
}
#contact form input[type=submit] {
  background-color: #FFDB58;
  box-shadow: 3px 3px 3px black;
  color: black;
  font-weight: bold;
  font-style: normal;
  width: 200px;
  height: 60px;
  border-radius: 12px;
  font-size: 17px;
  margin-top: 50px;
  cursor: pointer;
}

/* Footer */

.footer {
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 150px;
  background-color: transparent ;
  background: linear-gradient(to bottom, transparent, rgb(161, 160, 160));
  border-top: .5px solid rgb(133, 132, 132);
}
.contact-info {
  margin-top: -30px;
  text-align: left;
  margin-left: 100px;
}
.contact-info a {
  color: black;
}
.footer .contact-info img {
  height: 20px;
  margin-bottom: -50px;
  margin-left: -30px;
}
.footer .contact-info p img {
  height: 20px;
  margin-bottom: -20px;
  margin-left: -33px;
}
.social-links {
  float: right;
  width: 30%;
  margin-top: -110px;
}
.social-links a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 15px;
}
.footer .social-icons img {
  height: 13px;
  margin: 0 auto;
  margin-top: 10px;
}
.footer p {
  margin: 5px;
  font-size: 15px;
}
.footer img {
  height: 30px;
  margin-right: 1500px;
}
.footer .contact-me {
  margin-top: -40px;
}
.footer a:hover {
  text-decoration:none;
}
.footer .copyright {
  clear: both;
  margin: 0;
  color: rgb(114, 112, 112);
}
.back-to-top img {
  margin-left: 1300px;
  height: 50px;
  display: block;
}


